.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
}

#projects {
  background-color: #e2edff;
}

section {
  padding-top: 5rem;
}

/* CSS Icons */

.fa {
  padding: 10px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

/* DOWNLOAD BUTTON */
.dlbutton br {
  display: none !important;
}
.dlbutton {
  margin: 0px auto;
  width: 200px;
  position: relative;
  z-index: 1;
}
.dlbutton a {
  color: white !important;
  display: block;
  width: 200px;
  height: 50px;
  background: #00897b;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font: 17px/50px Helvetica, Verdana, sans-serif;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=&amp;amp;#39;#00b7ea&amp;amp;#39;, endColorstr=&amp;amp;#39;#009ec3&amp;amp;#39;,GradientType=0 );
}
.dlbutton a,
.slide {
  -webkit-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}
.slide {
  position: absolute;
  z-index: -1;
  display: block;
  margin: -50px 0 0 10px;
  width: 180px;
  height: 40px;
  background: #444;
  color: #fff;
  text-align: center;
  font: 12px/45px Helvetica, Verdana, sans-serif;
  -webkit-transition: margin 0.5s ease;
  -moz-transition: margin 0.5s ease;
  -ms-transition: margin 0.5s ease;
  -o-transition: margin 0.5s ease;
  transition: margin 0.5s ease;
}
.dlbutton:hover .bottom {
  margin: -10px 0 0 10px;
}
.dlbutton:hover .top {
  margin: -80px 0 0 10px;
  line-height: 35px;
}
.dlbutton a:active {
  background: #004d40;
  background: -moz-linear-gradient(top, #00695c 36%, #0e6578 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(36%, #00695c), color-stop(100%, #0e6578));
  background: -webkit-linear-gradient(top, #00695c 36%, #0e6578 100%);
  background: -o-linear-gradient(top, #00695c 36%, #0e6578 100%);
  background: -ms-linear-gradient(top, #00695c 36%, #0e6578 100%);
  background: linear-gradient(top, #4db6ac 36%, #0e6578 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=&amp;amp;#39;#00695C&amp;amp;#39;, endColorstr=&amp;amp;#39;black&amp;amp;#39;,GradientType=0 );
}
.dlbutton:active .bottom {
  margin: -20px 0 0 10px;
}
.dlbutton:active .top {
  margin: -70px 0 0 10px;
}
